body {
    padding: 10%;
    background-color: aquamarine;
    text-align: center;
}
p {
    font-family: arial;
    font-weight: bold;
}
div {
    text-align: center;
    background-color: #0be599;
    font-family: arial;
    font-weight: bold;

}

